.b-container{
    max-width: 1320px;
    height: 100%;
    padding: 0px 20px;
    margin: 0 auto;

    @media(max-width: 1320px){
        max-width: 1200px;
    }

    @media(max-width: 1200px){
        max-width: 950px;
    }

    @media(max-width: 950px){
        max-width: none;
    }
}